<div id="fb-root"></div>
<script>(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.8";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<link rel="stylesheet" type="text/css" href="/bower_components/semantic/dist/semantic.min.css">
<div class="ui grid ui" ng-cloak>
	<div class="twelve wide column ui raised segment">
		<h3>Mai anh đào khoe sắc đầu xuân, hút khách hai miền</h3>
		<hr>
		<div class="fb-like" data-href="https://www.facebook.com/Du-L%E1%BB%8Bch-Xanh-176457449523977/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
		<br>
		<img class="ui centered image" src={{vm.content.image}}>
		<div>
			<br>
			<p style="text-align: justify;">
				Ít ai biết rằng mai anh đào đã được trồng ở Mộc Châu gần 3 năm nay, nhiều cây cho hoa rực rỡ. Địa điểm đang được các bạn trẻ truyền tai nhau là công viên giải trí Pha Luông, nằm ở thị trấn Nông trường Mộc Châu.
			</p>
			<p>
				Mai anh đào được trồng quanh một số lối đi trong khu giải trí. Cây không nổi bật bởi cành lá khẳng khiu, nhất là vào mùa thu và đông. Nhưng khi mùa xuân đến, từng chùm bung nở tạo nên cảnh sắc tươi tắn.
			</p>
			<p>
				Nếu chỉ ngắm hoa, bạn sẽ không mất phí vào công viên. Hoa mai anh đào ở đây không nhiều như Đà Lạt nhưng khi vào mùa, hàng chục cây khoe sắc hồng cũng khiến khung cảnh trở nên lung linh, làm hình nền đẹp cho các bức ảnh của bạn.
			</p>
			<p>
				Ngoài ra, trên đường vào bản Dọi, cách trung tâm thị trấn Mộc Châu gần 20 km, bạn cũng sẽ nhìn thấy màu hồng rất đặc trưng của loài hoa này.
			</p>
		</div>
		<br>
		<img class="ui centered image" src={{vm.content.image1}}>
		<br>
		<div>
			<p style="text-align: justify;">
				Mai anh đào Đà Lạt thường nở cuối tháng 1 hoặc đầu tháng 2 nhưng năm nay hoa nở muộn nên cuối tháng 2, nhiều con đường của thành phố mới bừng lên sắc màu quyến rũ.
			</p>
			<p style="text-align: justify;">
				Nơi du khách dễ dàng nhìn ngắm mai anh đào là khu vực quanh hồ Xuân Hương. Ngoài ra, bạn có thể dạo quanh các tuyến đường như Đống Đa, Hùng Vương, Nguyễn Du, Quang Trung, Trần Hưng Đạo… Với những người thích vẻ đẹp hoang sơ, họ thường tìm đến khu vực hồ Tuyền Lâm hay dốc Đa Quý (Xuân Thọ, Trại Mát).
			</p>
			<p style="text-align: justify;">
				Du khách nên chụp hình từ 6h đến 9h khi trời có nắng ấm nhẹ, hoa còn tươi, hoặc từ 15h30 đến 17h khi ánh sáng dịu.
			</p>
		</div>
		<br>
		<img class="ui centered image" src={{vm.content.image2}}>
		<br>
		<div>
			<p style="text-align: justify;">
				Cùng họ với mai anh đào, anh đào là một loài hoa “đặc sản” của Sapa dịp đầu năm. Khu ven hồ trung tâm thị trấn là nơi trồng nhiều hoa anh đào nhất. Khác với hoa đào truyền thống Việt Nam, hoa anh đào ở Sapa trông giống như những cái chuông được treo trên cây. Bởi vậy, người dân ở đây thường gọi là hoa đào chuông.
			</p>
			<p style="text-align: justify;">
				Hoa thường nở dịp đầu năm, thời điểm này Sapa khá đông đúc nên bạn cần lên kế hoạch trước khi lên đường.
			</p>
		</div>
		<input type="file" fileread="uploadme" />
    <img src="{{uploadme}}" width="100" height="50" alt="Image preview...">
    <br/>
    <p>
      Image dataURI:
      <pre>{{uploadme}}</pre>
    </p>
    <br/>
    <button ng-click="uploadImage()">upload image</button>
	</div>
	<div class="four wide column">
		<div class="row well ui raised segment">
			<p>Du Lịch Sapa</p>
			<hr><hr>
			<div ui middle aligned divided>
				<img class="ui centered image" src={{vm.content.imageSapa}}>
				<br>
				<p>
					Thị trấn Sapa thuộc tỉnh Lào Cai, có địa hình 1600 mét cao hơn mực nước biển. Khí trời mát mẻ vùng núi và cảnh quan đẹp hoang sơ chính là những yếu tố giúp Sapa trở thành một khu nghỉ mát nổi tiếng ở miền Bắc Việt Nam. Tại đây, du khách có thể chinh phục đỉnh Phan Si Păng của dãy Hoàng Liên Sơn, ngắm vườn hoa Hàm Rồng và khám phá thung lũng Mường Hoa. Các địa điểm tham quan khác khi du lịch Sapa bao gồm: Thác Bạc, Thác Tình Yêu, Bản Hồ, Chợ phiên Sapa…
				</p>
				<hr>
				<p>
					Cùng Du Lịch Xanh khám phá Sapa ...
				</p>
			</div>
		</div>
		<div class="row well ui raised segment ">
			<div class="five wide column">
				<div class="">
					<div class="ui-items">
						<div class=" list-group-item  active"><h5 class="font-weight-bold text-center">Đọc Nhiều</h5></div>
						<a href="#" class="list-group-item" ng-repeat="post in vm.posts">
							<div class="ui items">
								<div class="item">
									<div class="ui top aligned">
										<i class="tags red icon"></i>
									</div>
									<div class="content">
										<div class="description">
											<p>{{post.title}}</p>
											<small class="text-muted">{{post.createDate}}</small>
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row well ui raised segment ">
			<div class="five wide column">
				<div class="">
					<div class="ui-items">
						<div class=" list-group-item  active"><h5 class="font-weight-bold text-center">Công Ty Tổ Chức Tour Sapa</h5></div>
						<a href="#" class="list-group-item" ng-repeat="tour in vm.tours">
							<div class="ui items">
								<div class="item">
									<div class="ui top aligned">
										<i class="tags red icon"></i>
									</div>
									<div class="content">
										<div class="description">
											<p>{{tour.nameCompany}}</p>
										<!-- 	<small class="text-muted">{{tour.createDate}}</small> -->
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row well ui raised segment ">
			<div class="five wide column">
				<div class="">
					<div class="ui-items">
						<div class=" list-group-item  active"><h5 class="font-weight-bold text-center">Khách Sạn Gía Tốt</h5></div>
						<a href="#" class="list-group-item" ng-repeat="hotel in vm.hotels">
							<div class="ui items">
								<div class="item">
									<div class="ui top aligned">
										<i class="tags red icon"></i>
									</div>
									<div class="content">
										<div class="description">
											<p>{{hotel.nameHotel}}</p>
										<!-- 	<small class="text-muted">{{tour.createDate}}</small> -->
										</div>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="row well ui raised segment ">
			<p>Danh sách các bài viết</p>
			<div ui middle aligned divided list>
				<ul style="list-style-type: none">
					<li ng-repeat="post in vm.posts">
						<i class="tags red icon"></i>
						<a class="content" ui-sref="post-detail({id: post.id})">
							{{post.title}}
						</a>	
					</li>
				</ul>
			</div>
		</div>
		<div class="row well ui raised segment">
			<p>Công ty tổ chức tour qua Sapa</p>
			<div ui middle aligned divided list>
				<ul style="list-style-type: none">
					<li ng-repeat="tour in vm.tours">
						<i class="tags red icon"></i>
						<a class="content" ui-sref="tour-detail({id: tour.id})">
							{{tour.nameCompany}}
						</a>	
					</li>
				</ul>
			</div>
		</div>
		<div class="row well ui raised segment">
			<p>Danh sách khách sạn gía tốt</p>
			<div ui middle aligned divided list>
				<ul style="list-style-type: none">
					<li ng-repeat="hotel in vm.hotels">
						<i class="tags red icon"></i>
						<a class="content" ui-sref="hotel-detail({id: hotel.id})">
							{{hotel.nameHotel}}
						</a>	
					</li>
				</ul>
			</div>
		</div> -->
	</div>
	<div class="fb-comments" data-href="http://localhost:8080/#/real-estate/detail//{{vm.post.id}}" data-numposts="5"></div>
</div>